  DB_USER = ""
  DB_HOST =""
  DB_NAME =""
  DB_PASS =""
  DB_PORT =""
  SECRET=""

DB_USER: Representa o nome do usuário utilizado para autenticar no banco de dados PostgreSQL.

DB_HOST: Indica o endereço do host onde o banco de dados PostgreSQL está sendo executado. Pode ser um endereço IP ou um nome de domínio.

DB_NAME: Especifica o nome do banco de dados que o aplicativo irá utilizar. Cada banco de dados pode ter várias tabelas e dados associados.

DB_PASS: Representa a senha do usuário do banco de dados PostgreSQL. Essa senha é usada para autenticar o usuário especificado em DB_USER.

DB_PORT: Indica o número da porta na qual o banco de dados PostgreSQL está configurado para aceitar conexões. A porta padrão para o PostgreSQL é 5432.

SECRET: É uma chave secreta utilizada para a assinatura e verificação de tokens de autenticação. Essa chave geralmente é usada para garantir a segurança e 
integridade dos tokens JWT (JSON Web Tokens) utilizados no processo de autenticação.

Essas configurações são frequentemente usadas em aplicativos Node.js/Express.js que se conectam a um banco de dados PostgreSQL para realizar operações CRUD
(Create, Read, Update, Delete) relacionadas aos usuários do sistema. A chave secreta (SECRET) é geralmente utilizada para criar tokens de autenticação,
garantindo a segurança das comunicações entre o cliente e o servidor. Certifique-se de preencher cada uma dessas variáveis com os valores corretos antes de utilizar 
o aplicativo.
